* {
  box-sizing: border-box;
}

:root {
  --canvas-blur: 3px;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: black;
}

#scene {
  width: 100vmin;
  height: 100vmin;
  margin: auto;
  display: block;
  filter: blur(var(--canvas-blur));
}

.indicator {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: center;
  width: 50px;
  height: 50px;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.attractor-indicator {
  animation: attract 1s infinite ease-out;
}

.repulser-indicator {
  animation: repulse 1s infinite ease-out;
}

.active {
  display: block;
}

#error-screen {
  padding: 25px;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgb(221, 221, 71);
}

#error-screen h3 {
  font-size: 30px;
}

@keyframes attract {
  from {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%) scale(0);
    opacity: 1;
  }
}

@keyframes repulse {
  from {
    transform: translate(-50%, -50%) scale(0);
  }
  to {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}
